body {
  font-family: Arial, sans-serif;
  background-color: #B594B6; /* white */
  width: 800px;
  margin: 0 auto; /* center the content */}

h1 {
  color: #935FA7; /* red */
  margin: 20px 0; /* add space above and below the heading */
}

p {
  color: #A9FBC3; /* blue */
}
wolgnr